/* shared styles */
.body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
   }


/* header section styles */

.nav-section{
    display: flex;
    justify-content: space-around;
}
.nav-div-1{
    display: flex;
    gap: 15px;
    
}
.nav-div1-ul{
    display: flex;
    list-style: none;
    gap: 15px;
    align-items: center;
}
.nav-title1{
    text-align: center;
    font-size: 45px;
    font-weight: 700;    
}
.nav-title-font-color{
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.nav-div2-ul{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #3C354F;
    align-items: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
}
.nav-div2-3rd-li{
      display: flex;
      gap: 15px;
      align-items: center;
      border-radius: 8px;
     background: rgba(11, 2, 35, 0.10);
      padding: 0 25px;
      color: #3C354F;
     font-family: Work Sans;
     font-size: 18px;
     font-weight: 500;
}


/* main section styles */

/* section-1 style */
.section1{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
}
.section1-div1{
     background-image: url('../images/Group\ 14.png');
     background-repeat: no-repeat;
     width: 100%;
}
.sec1-div1-describ{
    list-style: none;
    text-align: center;
    padding-top: 200px;
}
.sec1-title1{
    color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 48px;
font-weight: 600;
}
/* .sec1-title2{
font-family: Work Sans;
font-size: 95px;
font-weight: 800; */
}
.sec1-div2{

}



/* section 2 style*/

.section2-div1{
     text-align: center;
     list-style: none;
     margin-top: 150px;
}
.sec2-title{
    color: #0B0223;
font-family: Work Sans;
font-size: 48px;
font-weight: 700;
}
.sec2-title-style{
    color: rgb(221, 15, 217);
}
.sec2-describ{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    padding: 15px 0 40px 0;
}
.section2-div2{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.sec2-font{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    width: 342px;
}
#sec2-3rdimg :hover{
    cursor: pointer;
}


/* section-3 style */
     .section-3{
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
     }
     .section3-div1{
        width: 400px;
        padding: 150px 0 0 30px;
     }
     .sec3-title{
        text-align: right;
        font-family: Work Sans;
        font-size: 48px;
        font-weight: 700;
     }
     .sec3-title-color{
        color: rgb(218, 23, 173);
     }
     .sec3-describ{
        font-family: Work Sans;
        color: #534C64;
        text-align: right;
        font-size: 18px;
        font-weight: 400;
     }
     .sec3-img2{
        position: relative;
        bottom:  300px;
        right: 150px;
        
     }



/* footer section styles */











/* responsive style */
@media screen and (max-width:576px) {
    .main{
        padding: 10px 10px;
    }
    .nav-section{
        flex-direction: column;
    }
    .nav-div-1{
        justify-content: center;
    }
    .nav-div2-ul{
        flex-direction: column;

    }
    /* section-1 */
    .section1{
        flex-direction: column;
    }
    .section1 img{
        width: 100%;
    }
    .section1-div1-describ{
        width: 100%;
    }
    .sec1-div1-ul{
        width: 100%;
    }

         /* section-2 */

    .section2{
        padding: 20px 30px;
    }
    .section2-div2{
      flex-direction: column;
      align-items: center;
    }
    .sec2-font{
        text-align: center;
    }
    .section2-div1{
        justify-content: center;
    }
    /* section-3 */
    .section-3{
        flex-direction: column;
    }
    .sec3-title ,.sec3-describ{
        text-align: center;
    }
    }

}