/* shared styles */
.body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
   }


/* header section styles */

.nav-section{
    display: flex;
    justify-content: space-around;
}
.nav-div-1{
    display: flex;
    gap: 15px;
    
}
.nav-div1-ul{
    display: flex;
    list-style: none;
    gap: 15px;
    align-items: center;
}
.nav-title1{
    text-align: center;
    font-size: 45px;
    font-weight: 700;    
}
.nav-title-font-color{
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.nav-div2-ul{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #3C354F;
    align-items: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
}
.nav-div2-3rd-li{
      display: flex;
      gap: 15px;
      align-items: center;
      border-radius: 8px;
     background: rgba(11, 2, 35, 0.10);
      padding: 0 25px;
      color: #3C354F;
     font-family: Work Sans;
     font-size: 18px;
     font-weight: 500;
}


/* main section styles */

/* section-1 style */
.section1{
    display: flex;
    gap: 20px;
}
.section1-div1{
     background-image: url('../images/Group\ 14.png');
     background-repeat: no-repeat;
     width: 100%;
}
.sec1-div1-describ{
    list-style: none;
    padding-top: 200px;
    padding-left:300px ;
}
.sec1-title1{
    color: #0B0223;
font-family: Work Sans;
font-size: 48px;
font-weight: 600;
}
.sec1-title2{
font-family: Work Sans;
font-size: 95px;
font-weight: 800;
color: rgb(169, 25, 169);
}
.sec1-des{
    color: #534C64;
font-family: Work Sans;
font-size: 20px;
font-weight: 500;
padding-bottom: 10px;
}
.button{
    display: flex;
    padding-top: 20px;
    gap: 15px;
}
.sec1-btn{
padding: 21px 40px;
border-radius: 48px;
border: none;
background-color: rgb(232, 101, 215);
color: white;
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
}
.button :hover{
    cursor: pointer;
}
.sec1-div2-img{
    padding-right: 150px;
}




/* section 2 style*/

.section2-div1{
     text-align: center;
     list-style: none;
     margin-top: 150px;
}
.sec2-title{
    color: #0B0223;
font-family: Work Sans;
font-size: 48px;
font-weight: 700;
}
.sec2-title-style{
    color: rgb(221, 15, 217);
}
.sec2-describ{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    padding: 15px 0 40px 0;
}
.section2-div2{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.sec2-font{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    width: 342px;
}
#sec2-3rdimg :hover{
    cursor: pointer;
}


/* section-3 style */
     .section-3{
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
     }
     .section3-div1{
        width: 400px;
        padding: 150px 0 0 30px;
     }
     .sec3-title{
        text-align: right;
        font-family: Work Sans;
        font-size: 48px;
        font-weight: 700;
     }
     .sec3-title-color{
        color: rgb(218, 23, 173);
     }
     .sec3-describ{
        font-family: Work Sans;
        color: #534C64;
        text-align: right;
        font-size: 18px;
        font-weight: 400;
     }
     .sec3-img2{
        position: relative;
        bottom:  300px;
        right: 150px;
        
     }
     /* section-4 style */
     
    .section4-div1{
       display: flex;
       justify-content: center;
       gap: 80px;
    }
    .section4-div2{
        display: flex;
        justify-content: center;
        gap: 50px;
        padding-top: 70px;
    } 
    .sec4-content{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .sec4-title{
        font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
    }
    .sec4-content:hover{
        border: 1px solid rgb(239, 106, 186);
        cursor: pointer;
        border-radius: 50px;
        color: rgb(245, 88, 169);
        background-color: white;
    }



/* footer section styles */
.footer-section{
     background-color: #0B0223;
}
 .footer-div1{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 10px;
    margin: 100px 0;
    padding-top: 150px;
 }
 .footer-div1-title{
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    margin-top: -6px;
    color: white;
 }
 .foot-div1-title-font-color{
        color: rgb(228, 87, 181);
 }
 .foot-div1-img{
         text-align: center;
 }
 .footer-div2{
    display: flex;
    justify-content: center;
    gap: 35px;
    list-style: none;
    color: #FFF;
font-family: Work Sans;
font-size: 18px;
font-weight: 600;
 }
 .footer-div3{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 80px;
 }
 .foot-icon-btn{
    background-color: #0B0223;
    border: none;
 }
 .foot-icon-btn :hover{
     cursor: pointer;
 }

 .footer-div4{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 60px;
    padding-top: 80px;
 }
 .foot-div4-title{
    color: rgba(255, 255, 255, 0.60);
font-family: Work Sans;
font-size: 16px;
font-weight: 500;
 }
.footer-div5{
    text-align: center;
    padding: 20px 0 180px 0;
}









/* responsive style */
@media screen and (max-width:576px) {
    .main{
        padding: 10px 10px;
    }
    .nav-section{
        flex-direction: column;
    }
    .nav-div-1{
        justify-content: center;
    }
    .nav-div2-ul{
        flex-direction: column;

    }
    /* section-1 */
    .section1{
        flex-direction: column;
    }
    .section1 img{
        width: 100%;
    }
    .section1-div1-describ{
        width: 100%;
    }
    .sec1-div1-ul{
        width: 100%;
    }

         /* section-2 */

    .section2{
        padding: 20px 30px;
    }
    .section2-div2{
      flex-direction: column;
      align-items: center;
    }
    .sec2-font{
        text-align: center;
    }
    .section2-div1{
        justify-content: center;
    }
    /* section-3 */
    .section-3{
        flex-direction: column;
    }
    .sec3-title ,.sec3-describ{
        text-align: center;
    }

    /* section-4 */
       .section

    }
